services:
  frontend:
    build: ./services/frontend
    ports:
      - "5173:5173"
    depends_on:
      - app
    environment:
      - VITE_API_URL=http://app:8080
    volumes:
      - ./services/frontend/src:/app/src
      - ./services/frontend/vite.config.ts:/app/vite.config.ts
      - ./services/frontend/index.html:/app/index.html
    command: npm run dev

  app:
    build: ./services/backend
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=your_password
      - DB_NAME=recipe_db
      - DB_SSL_MODE=disable
    volumes:
      - ./services/backend:/app
      - ./uploads:/app/uploads

  db:
    image: postgres:18-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=your_password
      - POSTGRES_DB=recipe_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5


volumes:
  postgres_data: